<div id="about-modal" tabindex="-1" role="dialog" class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="login-h3 center">about Musicality</h3>

                <div class="login-desc red-color">Copyright &copy; 2017 Musicality</div>

                <div class="login-desc red-color">Designed and developed by Shahram Javed.</div>

                <div class="login-desc">This service is intended as a replacement for those who may not be able to
                    afford lucrative services like Spotify, Rdio or Deezer and just want to be able to manage their
                    music collections in the form of playlists.
                </div>

                <div class="login-desc red-color">Musicality is purely conceptually based. Certain inherent features are
                    intentionally left out to draw the line between how a company would program their application to be suitable for production and
                    how an initial prototype would look.
                </div>

                <div class="login-desc">
                    Built on top of core technologies such as
                    <a href="//nodejs.org">node.js</a> and <a href="//angularjs.org">Angular.js</a>.
                </div>
            </div>
        </div>
    </div>
</div>
