<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="col-md-12">
                <h2>all the playlists available</h2>

                <p>Every playlist created by the users of Musicality</p>

                <span ng-repeat="tag in filterTags">
                    <div class="btn-group">
                        <button type="button" class="tag btn btn-default btn-tag big-tag">{{ tag }}</button>

                        <button ng-click="removeFilterTag(tag)" type="button" class="tag btn btn-default btn-tag big-tag">
                            <i class="material-icons" style="font-size: inherit; vertical-align: middle;">remove</i>
                        </button>
                    </div>
                </span>

                <div infinite-scroll='pagination.nextPage()' infinite-scroll-disabled='pagination.busy' infinite-scroll-distance='1' class="grid">
                    <div class="grid-item" ng-repeat="playlist in pagination.items">
                        <ng-include src="'/templates/partials/playlist.html'"></ng-include>
                    </div>
                </div>

                <p ng-show='pagination.busy && !pagination.done'>Loading playlists...</p>

                <p class="red-color" ng-show='pagination.done'>No more playlists for you to see.</p>
            </div>
        </div>
    </div>
</div>