<div id="tracks-delete-modal" tabindex="-1" role="dialog" class="modal fade">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="login-h3 center">are you sure?</h3>

                <div class="login-desc red-color">You are about to delete all the tracks from this playlist. You will not be able to undo this action!</div>

                <button type="button" class="btn btn-black btn-gray-hover" ng-click="deleteAllTracks()"><i class="material-icons">delete_forever</i> <span>delete all tracks</span></button>
                <button type="button" class="btn btn-black btn-gray-hover" ng-click="hideDeleteModal()"><i class="material-icons">cancel</i> <span>cancel action</span></button>
            </div>
        </div>
    </div>
</div>